# # Dependency directories
# node_modules/
# frontend/node_modules/
# backend/node_modules/
# dashboard/node_modules/

# # Build directories
# build/
# frontend/build/
# dashboard/build/

# # Cache files
# .cache/
# dashboard/.cache/
# dashboard/node_modules/.cache/

# # Environment variables
# .env

# # System files
# .DS_Store
# node_modules




# updated:

# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/
dashboard/node_modules/

# Cache folders
.cache/
dashboard/.cache/
dashboard/node_modules/.cache/
frontend/node_modules/.cache/

# Build folders
build/
frontend/build/
dashboard/build/

# Environment variables
.env

# System files
.DS_Store

# Optional: large files
*.pack
